$background-color: #252422;
$main-color: #ccc5b9;
$accent-color: #eb5e28;

.home-page {
	width: 96%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	.products-div {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fill, 260px);
		justify-content: space-between;
		flex-flow: wrap;
		padding-top: 36px;
	}
}
