$background-color: #252422;
$main-color: #CCC5B9;
$accent-color: #EB5E28;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
    background-color: $background-color;
    font-family: 'Montserrat', sans-serif;
}

.product-article {
    display: flex;
    width: 260px;
    height: 400px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    border-radius: 40px;
    background: transparent;

    .product-article__img {
        align-self: stretch;
        border-radius: 20px;
        height: 269px;
    }

    .product-article__price-h5 {
        color: $accent-color;
        font-size: 32px;
        font-weight: 600;
        line-height: 39px;
        letter-spacing: 0%;
        text-align: left;
    }

    .product-article__name-h6 {
        color: rgb(255, 255, 255);
        max-width: 100%;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.banner-div {
    width: 100%;
    min-height: 120px;
    background-image: url("../src/assets/img/add.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 80px);
}

.header {
    width: 100%;
    height: 80px;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px 0px 40px;
    background-color: $background-color;

    .header__title {
        color: white;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
    }

    .catalog-button {
        width: 150px;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 5px 0px 5px;
        border-radius: 10px;
        background-color: $main-color;
        color: black;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
    }

    .search-form {
        width: 60%;
        
        .search-form__field {
            width: 100%;
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0px 20px 0px 20px;
            box-sizing: border-box;
            border: 2px solid $main-color;
            border-radius: 10px;
    
            .search-form__input {
                width: 100%;
                color: white;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                letter-spacing: 0%;
                text-align: left;
            }
    
            .search-form__input::-webkit-input-placeholder {
                color: $main-color
            }
        }
    }
}