$background-color: #252422;
$main-color: #CCC5B9;
$accent-color: #EB5E28;

.product-page {
    width: 96%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
    .product-page__main-section {
        width: 100%;
        min-height: 500px;
        display: flex;
        justify-content: space-between;

        .product-page__img {
            max-height: 500px;
            border-radius: 15px;
        }

        .product-page__info-div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 68%;

            .product-page__text-span {
                display: flex;
                flex-direction: column;
                width: 100%;
                
                .product-page__heading-h2 {
                    color: white;
                    font-size: 32px;
                    font-weight: 600;
                    line-height: 39px;
                    letter-spacing: 0px;
                }
    
                .product-page__short-desc-div {
                    color: $main-color;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 29px;
                    letter-spacing: 0px;
                    max-height: 100px;
                    max-width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .product-page__container-div {
                width: 100%;
                height: 140px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;

                .product-page__rating-share-div {
                    height: 40px;
                    display: flex;
                    gap: 20px;

                    .product-page__rating-div {
                        width: 192px;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0px 10px 0px 10px;
                        box-sizing: border-box;
                        border: 2px solid $main-color;
                        border-radius: 12px;

                        .rating-div__stars-container {
                            position: relative;
                            width: 150px;
                            height: 30px;
                            background-image: url(assets/icons/rating__star-icon.svg);
                            background-size: 30px auto;
                            background-repeat: repeat-x;

                            .rating-div__star-radio {
                                appearance: none;
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 30px;
                            }

                            .rating-div__star-radio:checked, .rating-div__star-radio:hover {
                                background-image: url(assets/icons/rating__filled-star-icon.svg);
                                background-size: 30px auto;
                                background-repeat: repeat-x;
                            }

                            .rating-div__star-radio:hover ~ .rating-div__star-radio {
                                background-image: url(assets/icons/rating__star-icon.svg);
                                background-size: 30px auto;
                                background-repeat: repeat-x;
                            }

                            .rating-div__star-radio:nth-of-type(1) {
                                z-index: 5;
                                width: 30px;
                            }
                            .rating-div__star-radio:nth-of-type(2) {
                                z-index: 4;
                                width: 60px;
                            }
                            .rating-div__star-radio:nth-of-type(3) {
                                z-index: 3;
                                width: 90px;
                            }
                            .rating-div__star-radio:nth-of-type(4) {
                                z-index: 2;
                                width: 120px;
                            }
                            .rating-div__star-radio:nth-of-type(5) {
                                z-index: 1;
                                width: 150px;
                            }
                        }

                        .rating-div__rate-value {
                            color: white;
                            font-size: 24px;
                            font-weight: 400;
                            line-height: 29px;
                            letter-spacing: 0%;
                            text-align: left;
                        }
                    }

                    .product-page__share-button {
                        width: 40px;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-sizing: border-box;
                        border: 2px solid $main-color;
                        border-radius: 12px;
                    }
                }

                .product-page__price-buy-div {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 80px;
                    
                    .product-page__price-span {
                        color: $accent-color;
                        font-size: 40px;
                        font-weight: 600;
                        line-height: 49px;
                        letter-spacing: 0px;
                    }

                    .product-page__buy-link {
                        width: 400px;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 20px;
                        box-sizing: border-box;
                        border-radius: 15px;
                        background: $accent-color;
                        color: white;
                        font-size: 32px;
                        font-weight: 600;
                        line-height: 39px;
                        letter-spacing: 0px;
                    }
                }
            }
        }
    }

    .product-page__info-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;

        .product-page__desc {
            color: $main-color;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: left;
        }

        .product-page__tags-ul {
            display: flex;
            gap: 20px;

            .product-page__tag-li {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 20px 10px 20px;
                border-radius: 50px;
                background-color: $main-color;
                color: black;
                font-size: 24px;
                font-weight: 600;
                line-height: 29px;
                letter-spacing: 0%;
                text-align: left;
            }
        }
    }

    .product-page__reviews-section {
        width: 100%;
        display: flex;
        flex-direction: column;

        .reviews-section__rate-block {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 48px;
            width: 310px;
            .rate-block__rating {
                display: flex;
                align-items: center;
                gap: 20px;
                .rate-block__rate-number {
                    color: white;
                    font-size: 36px;
                    font-weight: 600;
                    line-height: 44px;
                    letter-spacing: 0%;
                    text-align: left;
                }
    
                .rate-block__star-rating {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    color: #ccc;
                    position: relative;
                    unicode-bidi: bidi-override;
                    direction: rtl;
                    font-size: 36px;
                    
                    .star-rating__back-stars {
                        display: flex;
                        flex-direction: row-reverse;
                        position: relative;
                        z-index: 0;
                        
                        span {
                            height: 100%px;
                        }
    
                        .star-rating__front-stars {
                            display: flex;
                            position: absolute;
                            flex-direction: row-reverse;
                            top: 0;
                            overflow: hidden;
                            z-index: 1;
                            color: #FFB800;

                            span {
                                height: 100%px;
                            }
                        }
                    }
                }
            }

            .rate-block__progressbars-group {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
                color: white;
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0%;
                text-align: left;

                .progressbars-group__progressbar-container {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    
                    .rate-progressbar__rate-number {
                        width: 16px;
                    }
                    
                    .progressbar-container__progressbar {
                        height: 12px;
                        width: 100%;
                        border-radius: 15px;
                        background: $main-color;
                        position: relative;
                        
                        .progressbar__active-line {
                            width: 50%;
                            border-radius: 15px;
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            background-color: #FFB800;
                        }
                    }
                }
            }
        }

        .product-page__reviews-container {
            display: flex;
            flex-direction: column;
            margin-top: 50px;
            gap: 50px;
        }
    }

    .product-page__block-heading {
        color: white;
        font-size: 32px;
        font-weight: 500;
        line-height: 39px;
        letter-spacing: 0%;
        text-align: left;
    }
}