$background-color: #252422;
$main-color: #CCC5B9;
$accent-color: #EB5E28;

.profile-section {
    width: 96%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}