$background-color: #252422;
$main-color: #CCC5B9;
$accent-color: #EB5E28;

.profile-section {
    width: 96%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .profile-section__nav {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .profile-link {
            color: white;
            font-size: 32px;
            font-weight: 600;
            line-height: 39px;
            letter-spacing: 0px;
        }

        .active {
            color: $accent-color;
        }
    }

    .profile-section__info-div {
        display: flex;
        max-width: 150px;
        flex-direction: column;

        span {
            color: white;
            font-size: 24px;
            font-weight: 600;
            line-height: 29px;
            letter-spacing: 0px;
        }
    }

    .orders-section {
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        .orders-container {
            width: 100%;
            display: flex;
            gap: 80px;

            .orders-div {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 40px;
                
                .order-article {
                    width: 352px;
                    height: 120px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0px 14px 0px 14px;
                    border-radius: 15px;
                    box-shadow: -4px -4px 10px 0px rgba(0, 0, 0, 0.25),4px 4px 10px 0px rgba(0, 0, 0, 0.25);
                    background: $background-color;

                    .order-article__img {
                        min-width: 90px;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        height: 90px;
                        border-radius: 8px;
                        background-image: url(../src/assets/img/product-image-1.webp);
                    }

                    .order-article__info-div {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;

                        .order-article__status-span {
                            color: white;
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 29px;
                            letter-spacing: 0px;
                        }

                        .order-article__info-span {
                            color: #808080;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 20px;
                            letter-spacing: 0px;
                        }

                        .order-article__date-span {
                            color: white;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 20px;
                            letter-spacing: 0px;
                        }
                    }
                }
            }
        }
    }

    .purchases-section {
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .purchases-container {
            width: 100%;
            display: flex;
            gap: 80px;

            .purchases-div {
                display: flex;
            }
        }
    }
}